@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-bg: #f7f7f8;
  --base-bg-2: #efeff1;
  --btn-primary: #f2f2f2;
  --dark-purple: #9147ff;
  --dark-red: #e91916;

  --primary: #0e0e0f;
}
